/* Variables */

:root {
    --portfolioPrimaryColor: rgb(12, 14, 24);
    --portfolioPrimaryColorFade: rgb(12, 14, 24, 0.3);
    --portfolioSecondColor: rgb(250, 230, 203);
    --portfolioThirdColor: rgb(111, 134, 149);
    --portfolioFourthColor: rgb(60, 122, 137);
    --portfolioHoverColor: rgb(177, 169, 158);
}


/* //GENERAL STYLES  */

body {
    background-color: var(--portfolioPrimaryColor);
}

h3 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 450%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
    color: var(--portfolioSecondColor);
}

h4 {
    font-size: 200%;
    text-transform: uppercase;
}

.mainContent a:hover {
    text-decoration: none;
}



.container {
    margin: 0 auto;
    min-width: 75%;
}

/* JUMBO STYLES */

.jumbotron {
    padding: 0;
    height: calc(100vh - 200px);
}

.jumbo-header {
    padding-top: 50px;
}

.row {
    padding: 80px 0;
}




/* NAV STYLES */

#mainNav {
    padding-bottom: 30px;
    background-color: var(--portfolioPrimaryColor);
    color: var(--portfolioSecondColor);
}


.nav-main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px 0px 10px;
}

.mainTitle {
    display: flex;
    width: auto;
    padding-left: 50px;
}

#nameTitle,
#jobTitle {
    width: auto;
    display: inline;
    margin: 0;
}

#nameTitle {
    text-transform: uppercase;
    align-self: flex-end;
}

#jobTitle {
    align-self: flex-end;
    justify-content: flex-end;
    padding-left: 8px;
    padding-bottom: 5px;
    font-size: 110%;
}



.navLinks {
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 120%;
}

.navLinks li {
    padding: 0 20px;
    text-align: center;
}

.navLinks li:hover,
.navLinks li:focus {
    background-color: aquamarine;
}

/* WORK STYLES */

.card {
    border: none
}

.workCard {
    margin: 25px 0;
    box-shadow: inset 100px black;
    padding: 0;
}

.wl-r {
display: flex;
justify-content: flex-end;
}

.card-title {
    color: var(--portfolioFourthColor);
}

.workContent .row {
    display: flex;
    justify-content: space-between;
}



.workCard .card {
    color: var(--portfolioThirdColor);
    transition: all 1s ease-in-out;
    font-size: 110%;
    font-weight: bold;
}


.workCard .card:hover {
    color: var(--portfolioSecondColor);
    background-color: rgba(109, 109, 204, 0.274);
    font-size: 111%;
}


.workCard .card img {
    opacity: 80%;
    transition: all 0.8s ease-in-out;

}


.workCard .card:hover img {
    opacity: 1
}

.top-card {
    margin-bottom: 20px;
}


.btmWorkCard {
    min-height: 540px;
    width: 98%;
    padding-top: 0px !important;
}




#folding-cards {
    background-image: linear-gradient(to top, rgb(12, 14, 24) 2%, rgb(31, 35, 54));
}

#seo {
    background-image: linear-gradient(to top left, rgb(12, 14, 24) 54%, rgb(31, 35, 54));
}

#pwsg {
    background-image: linear-gradient(to top right, rgb(12, 14, 24) 54%, rgb(31, 35, 54));
}

#calculator {
    background-image: linear-gradient(to top left, rgb(12, 14, 24) 54%, rgb(31, 35, 54));
}

#to-do {
    background-image: linear-gradient(to top right, rgb(12, 14, 24) 54%, rgb(31, 35, 54));
}


.top-work-img {
    height: 600px;
    width: auto;
    padding: 20px;
    border-radius: 25px;
    object-fit: cover;
    object-position: top center;

}

.btm-work-img {
    height: 620px;
    width: auto;
    padding: 20px;
    border-radius: 25px;
    object-fit: cover;
}

#calc-img,
#to-do-img {
    min-height: 580px;
}

#folding-cards img {
    padding: 20px;
    border-radius: 75px;
}

.workContent .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 30px;
}




/* ABOUT STYLES */

.aboutSection {
    color: var(--portfolioSecondColor);
    height:fit-content
}


.aboutSection h4 {
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 300%;
    border: 2px solid var(--portfolioSecondColor);
    width: 99%;
    color: var(--portfolioThirdColor);
}

.toplines {
    background-color: var(--portfolioSecondColor);
    margin-top: 180px;
    margin-bottom: 30px;
    height: 2px;
}

.aboutMeSection,
.skillsSection  {
    height: 500px;
    margin-top: 70px;
    display: flex;
    padding: 0px 100px;
    flex-direction: column;
}

.skillsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0
    height: 100%;
}


.carousel {
    height: 300px;
    width: 100%;
    font-size: 300%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--portfolioThirdColor), var(--portfolioFourthColor));
    box-shadow: 0 -0 .2em var(--portfolioHoverColor);
}

.carousel p {
    text-shadow: var(--portfolioPrimaryColor) 1px 0 30px;
}

.aboutMeSection {
    height: fit-content;
}

.aboutMeSection p {
    padding: 0 70px;
    line-height: 2.3;
    font-size: calc(100% + 1vw);
}

strong {
    color: var(--portfolioHoverColor)
}

/* SIGNUP STYLES */

.signupSection {
    margin: 0 auto;
}

.sign-up-form {
    width: 300px;
    margin: 0 auto;
}