/* Variables */

:root {
    --portfolioPrimaryColor: rgb(12, 14, 24);
    --portfolioPrimaryColorFade: rgb(12, 14, 24, 0.3);
    --portfolioSecondColor: rgb(250, 230, 203);
    --portfolioThirdColor: rgb(131, 138, 255);
    --portfolioHoverColor: rgb(177, 169, 158);
  }


/* //GENERAL STYLES  */

body {
   background-color: var(--portfolioPrimaryColor);
}

h3 {
    text-transform: uppercase;
    font-size: 300%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--portfolioSecondColor);
}


.row {
    /* border: 1px solid black; */
}

.container {
    margin: 0 auto;
    min-width: 75%;
}

/* JUMBO STYLES */

.jumbotron {
padding: 0;
height: calc(100vh - 200px);
}

.jumbo-header {
    padding-top: 50px;
}




/* NAV STYLES */

#mainNav {
    padding-bottom: 30px;
    background-color: var(--portfolioPrimaryColor);
    color: var(--portfolioSecondColor);
}


.nav-main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px 0px 10px;
}

.mainTitle {
    display: flex;
    width: auto;
    padding-left: 50px;
}

#nameTitle,
#jobTitle {
    width: auto;
    display: inline;
    margin: 0;
}

#nameTitle {
    text-transform: uppercase;
    align-self: flex-end;
}

#jobTitle {
    align-self: flex-end;
    justify-content: flex-end;
    padding-left: 8px;
    padding-bottom: 5px;
    font-size: 110%;
}



.navLinks {
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 120%;
}

.navLinks li {
    padding: 0 20px;
    text-align: center;
}

.navLinks li:hover,
.navLinks li:focus {
    background-color: aquamarine;
}

/* WORK STYLES */



.workCard {
    margin: 25px 0;
    box-shadow: inset 100px black;
    padding: 0;
}

.workCard .card {
    background-color: var(--portfolioPrimaryColor);
    color: var(--portfolioSecondColor);
}

.btmWorkCard {
    min-height: 500px;
    width: 98%;
}

.btm-work-l {
margin-right: 10px;
}

.btm-work-r {
margin-left: 20px;
margin-right: 0px;
}

#folding-cards img {
    padding: 20px
}

.top-work-img {

    height: 600px;
    width: auto;
    padding: 20px;
    border-radius: 25px;
    object-fit: cover;
    object-position: top center;
}

.btm-work-img {
    max-height: 500px;
    width: auto;
    padding: 20px;
    border-radius: 25px;
    object-fit: cover;
}

#calc-img,
#to-do-img {
    min-height: 580px;
}

.workContent .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.card-title {
    text-transform: uppercase;
}