/* //GENERAL STYLES  */

body {
    padding-top: 100px;
}


.row {
    border: 1px solid black;
}

.container {
    margin: 0 auto;
    min-width: 70%;
}


/* NAV STYLES */

.nav-main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

.mainTitle {
    display: flex;
    width: auto;
    padding-left: 50px;
}

#nameTitle,
#jobTitle {
    width: auto;
    display: inline;
    margin: 0;
}

#nameTitle {
    text-transform: uppercase;
    align-self: flex-end;
}

#jobTitle {
    align-self: flex-end;
    justify-content: flex-end;
    padding-left: 8px;
    padding-bottom: 5px;
    font-size: 110%;
}



.navLinks {
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 120%;
}

.navLinks li {
padding: 0 20px;
text-align: center;
}

.navLinks li:hover, 
.navLinks li:focus {
    background-color: aquamarine;
}

/* WORK STYLES */

.workCard {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btm-work-img {
    min-height: 300px;
    width: auto;
    padding: 10px;
    border-radius: 13px;
}



